<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title> FotosGram </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Posts -->
  <app-posts [posts]="posts"></app-posts>

  <!-- infinite scroll -->
  <!-- <ion-infinite-scroll  [disabled]='habilitado' threshold="100px" (ionInfinite)="siguientes($event)"> -->
  <ion-infinite-scroll  [disabled]='!habilitado' threshold="100px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
